@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital,wght@0,400;0,700;1,400&display=swap");

* {
  font-family: "Gentium Book Plus", serif;
}

.homeCard {
  overflow: hidden;
  /* transition-delay: 1s; */
}

.homeCardDtls {
  left: 0;
  bottom: -30px;
  transition: 0.3s;
}
.homeCard:hover .homeCardDtls {
  bottom: 0px;
}
.homeCard:hover img {
  opacity: 0.5;
  transition: 0.5s;
}

.testimonial {
  transition: 0.3s;
}
.testimonial:hover {
  transform: scale(1.1);
}
